<div>
    여기는 new 페이지 입니다.
    <div class="mb-3">
        <label>Title</label>
        <input type="text" name="title"/>
    </div>
    <div class="mb-3">
        <label>Content</label>
        <textarea type="text" rows="3" name="content"></textarea>
    </div>
</div>